.home-float{
    position:fixed;
    bottom:25px;
    right:25px;

    width:60px;
    height:60px;

    background:var(--primary);
    color:white;

    border-radius:50%;

    display:flex;
    align-items:center;
    justify-content:center;

    text-decoration:none;
    font-size:1.5rem;

    box-shadow:
    0 10px 25px rgba(37,99,235,.4);

    transition:.3s;
}

.home-float:hover{
    transform:scale(1.1);
}
